* { box-sizing:border-box; }
body { margin: 0; -webkit-font-smoothing: antialiased; }
body, button { font-family: avenir; }
.flex-center { display: flex; align-items: center; justify-content: center; }
h2, p { margin: 0;  }
.mb-10 { margin-bottom: 10px; }
.mt-10 { margin-top: 10px; }
.mb-20 { margin-bottom: 20px; }

.App { text-align: center; outline: none; }
